<html>
	<head>
		<meta charset="UTF-8">
		<meta name= "viewport" content="width=device-width, initial-scale=1.0">
		<title>Blog</title>
	</head>

	<body>
		<div class="site-title">
			<a href="/"><h1>Blog Ninja</h1></a>
			<p> A learning website</p>
		</div>

		<ul>
			<li> <a href="/">Blogs</a></li>
			<li> <a href="/about">About</a></li>
			<li> <a href="/blogs/create">New blog</a></li>
		</ul>

		<div class="about content">
			<h2>About Me</h2>
			<p>My name is Mahmudul Islam</p>
			<p>I have graduated from Bangladesh University of Engineering and Technology</p>
		</div>
	</body>
</html>